BLOG_ENV_ID=local
BLOG_SECRET_KEY=TemirbolatAghay
BLOG_ALLOWED_HOSTS=localhost,127.0.0.1
BLOG_REDIS_URL=redis://redis:6379/0
BLOG_CELERY_BROKER_URL=redis://redis:6379/1
BLOG_FLOWER_USER=admin
BLOG_FLOWER_PASSWORD=changeme
BLOG_SEED_DB=false
BLOG_SQLITE_PATH=/app/data/db.sqlite3
BLOG_DATABASE_URL=postgres://blog:blog@localhost:5432/blog
